[uuid]
uuid=XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX
expected=1

[rfc_emisor]
rfc_emisor=XXXXXXXXXXXX
año=2014
mes=09
día=26
expected=1

[año_mes_día]
año=2014
mes=09
día=26
expected=1

[mes_completo_por_día]
año=2014
mes=09
expected=5
